Repository enarx/drawbridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @profianinc/drawbridge, @bstrie, @haraldh

.github/CODEOWNERS:

* @profianinc/drawbridge @bstrie @haraldh
*.rs @profianinc/drawbridge
/crates/client/**/*.rs @profianinc/drawbridge @bstrie
/crates/type/**/*.rs @profianinc/drawbridge @bstrie

feat(client): rely on anyhow for error handling
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/src/repo.rs
  crates/client/src/tag.rs
  crates/client/src/tree.rs
Owners: @profianinc/drawbridge, @bstrie, @haraldh

feat(client): rely on anyhow for error handling
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/src/repo.rs
  crates/client/src/tag.rs
  crates/client/src/tree.rs
Owners: @profianinc/drawbridge, @bstrie, @haraldh

feat(client): migrate to ureq
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/src/repo.rs
  crates/client/src/tag.rs
  crates/client/src/tree.rs
  tests/mod.rs
Owners: @profianinc/drawbridge, @bstrie, @haraldh

feat(byte): decode to a `Cow<str>`
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge

docs(byte): add documentation
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge

refactor(byte): manually implement Debug and Default
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge

refactor(byte): seal the `Config` trait
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge

feat(byte): make serde optional
  crates/byte/Cargo.toml
  crates/byte/src/lib.rs
  crates/jose/Cargo.toml
Owners: @profianinc/drawbridge, @bstrie, @haraldh

refactor(byte): remove the default generic
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge

feat(byte): enable `no_std` support
  crates/byte/Cargo.toml
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge, @bstrie, @haraldh

feat(byte): surface all the inner AsRef conversions
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge

feat(byte): add clippy lints
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge

feat(byte): add additional config options
  crates/byte/src/lib.rs
Owners: @profianinc/drawbridge

feat(jose): add the `Typed` trait
  crates/app/src/tags/put.rs
  crates/client/src/tag.rs
  crates/jose/src/jws.rs
  crates/jose/src/lib.rs
  crates/type/src/tag/entry.rs
Owners: @profianinc/drawbridge, @bstrie

refactor(jose): let serde generate the bounds
  crates/jose/src/jws.rs
Owners: @profianinc/drawbridge

refactor(jose): make JWS payload non-generic
  crates/jose/src/jws.rs
  crates/type/src/tag/entry.rs
Owners: @profianinc/drawbridge, @bstrie

feat(jose): add JWK support
  Cargo.lock
  crates/jose/Cargo.toml
  crates/jose/src/b64.rs
  crates/jose/src/jwk.rs
  crates/jose/src/lib.rs
Owners: @profianinc/drawbridge, @bstrie, @haraldh

feat(client): migrate to ureq
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/src/repo.rs
  crates/client/src/tag.rs
  crates/client/src/tree.rs
  tests/mod.rs
Owners: @profianinc/drawbridge, @bstrie, @haraldh
